@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #25294a;
}

#yoshh{
    text-align: center;
}

.stuff, .other{
    text-align: center;
}